/* Footer page style */

/* Font import */
@font-face {
    font-family: nirmala ;
    src: url(../font/Nirmala.ttf);
}

* {
    margin: 0;
    padding: 0;
}

footer {
    height: 9vh;
    background-color: #0E1320;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: nirmala;
}

a {
    color: white;
    text-decoration: none;
}

.copyright {
    color: white;
}
