/* Infos page style */

/* Font import */
@font-face {
    font-family: nirmala ;
    src: url(../font/Nirmala.ttf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    font-family: nirmala;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

article li {
    list-style: none;
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem ;
    background-color: #0E1320;
    color: white;
    border-radius: 10px;
    text-align: center;
}

aside {
    height: 40vh;
}

aside p {
    color: #0E1320;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.backtohome {
    margin:  -10rem 1.5rem;
    color: #0E1320;
}

.backtohome:hover{
    color: yellow;
}

h4 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {

    h2 {
        font-size: 3rem;
        text-align: start;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backtohome {
        margin-left:1rem;
        color: #0E1320;
    }

    article img {
        height: 15rem;
    }

    article{
        margin-right: 5%;
    }

    aside{
        margin-left: 5%;
    }
}