
    <footer>
        <p>©Copyright</p>
        <a href="./includes/mentionslegales.php">Mentions légales</a>
        <a href="https://github.com/margauxc25/projet_data" target="_blank"><img src="./assets/image/logo_github.svg" alt="Logo github"></a>
    </footer>
