      <nav>
        <button class="buttonGenerations" id="generations"> All generations</button>
        <ul class="menuGenerations">
          <li><button class="menuLinkGenerations" value = "1">génération 1</button></li>
          <li><button class="menuLinkGenerations" value = "2">génération 2</button></li>
          <li><button class="menuLinkGenerations" value = "3">génération 3</button></li>
          <li><button class="menuLinkGenerations" value = "4">génération 4</button></li>
          <li><button class="menuLinkGenerations" value = "5">génération 5</button></li>
          <li><button class="menuLinkGenerations" value = "6">génération 6</button></li>
          <li><button class="menuLinkGenerations" value = "7">génération 7</button></li>
          <li><button class="menuLinkGenerations" value = "8">génération 8</button></li>
        </ul>
       

        <button class="buttonTypes" id="types"> All types</button>
          

        <ul class="menuTypes">
          <li><button class="menuLinkTypes grass" value="Grass">Grass</button></li>
          <li><button class="menuLinkTypes poison" value="Poison">Poison</button></li>
          <li><button class="menuLinkTypes fire" value="Fire">Fire</button></li>
          <li><button class="menuLinkTypes flying" value="Flying">Flying</button></li>
          <li><button class="menuLinkTypes bug" value="Bug">Bug</button></li>
          <li><button class="menuLinkTypes normal" value="Normal">Normal</button></li>
          <li><button class="menuLinkTypes ground" value="Ground">Ground</button></li>
          <li><button class="menuLinkTypes fairy" value="Fairy">Fairy</button></li>
          <li><button class="menuLinkTypes water" value="Water">Water</button></li>
          <li><button class="menuLinkTypes fighting" value="Fighting">Fighting</button></li>
          <li><button class="menuLinkTypes rock" value="Rock">Rock</button></li>
          <li><button class="menuLinkTypes psychic" value="Psychic">Psychic</button></li>
          <li><button class="menuLinkTypes electric" value="Electric">Electric</button></li>
          <li><button class="menuLinkTypes steel" value="Steel">Steel</button></li>
          <li><button class="menuLinkTypes ice" value="Ice">Ice</button></li>
          <li><button class="menuLinkTypes ghost" value="Ghost">Ghost</button></li>
          <li><button class="menuLinkTypes dragon" value="Dragon">Dragon</button></li>
          <li><button class="menuLinkTypes dark" value="Dark">Dark</button></li>
        </ul>
           

      </nav>