      <nav>
        <button class="buttonGenerations" id="generations"> All generations</button>
        <ul class="menuGenerations">
          <li><button class="menuLinkGenerations" value = "1">génération 1</button></li>
          <li><button class="menuLinkGenerations" value = "2">génération 2</button></li>
          <li><button class="menuLinkGenerations" value = "3">génération 3</button></li>
          <li><button class="menuLinkGenerations" value = "4">génération 4</button></li>
          <li><button class="menuLinkGenerations" value = "5">génération 5</button></li>
          <li><button class="menuLinkGenerations" value = "6">génération 6</button></li>
          <li><button class="menuLinkGenerations" value = "7">génération 7</button></li>
          <li><button class="menuLinkGenerations" value = "8">génération 8</button></li>
        </ul>
       

        <button class="buttonTypes" id="types"> All types</button>
          

        <ul class="menuTypes">
          <li><button class="menuLinkTypes" value="Grass">Grass</button></li>
          <li><button class="menuLinkTypes" value="Poison">Poison</button></li>
          <li><button class="menuLinkTypes" value="Fire">Fire</button></li>
          <li><button class="menuLinkTypes" value="Flying">Flying</button></li>
          <li><button class="menuLinkTypes" value="Bug">Bug</button></li>
          <li><button class="menuLinkTypes" value="Normal">Normal</button></li>
          <li><button class="menuLinkTypes" value="Ground">Ground</button></li>
          <li><button class="menuLinkTypes" value="Fairy">Fairy</button></li>
          <li><button class="menuLinkTypes" value="Water">Water</button></li>
          <li><button class="menuLinkTypes" value="Fighting">Fighting</button></li>
          <li><button class="menuLinkTypes" value="Rock">Rock</button></li>
          <li><button class="menuLinkTypes" value="Psychic">Psychic</button></li>
          <li><button class="menuLinkTypes" value="Electric">Electric</button></li>
          <li><button class="menuLinkTypes" value="Steel">Steel</button></li>
          <li><button class="menuLinkTypes" value="Ice">Ice</button></li>
          <li><button class="menuLinkTypes" value="Ghost">Ghost</button></li>
          <li><button class="menuLinkTypes" value="Dragon">Dragon</button></li>
          <li><button class="menuLinkTypes" value="Dark">Dark</button></li>
        </ul>
           

      </nav>