      <nav>
        <button class="buttonGenerations" id="generations"> All generations</button>
        <ul class="menuGenerations">
          <li><a class="menuLinkGenerations" href="./view/stats.php">génération 1</a></li>
          <li><a class="menuLinkGenerations" href="#">génération 2</a></li>
          <li><a class="menuLinkGenerations" href="#">génération 3</a></li>
          <li><a class="menuLinkGenerations" href="#">génération 4</a></li>
          <li><a class="menuLinkGenerations" href="#">génération 5</a></li>
          <li><a class="menuLinkGenerations" href="#">génération 6</a></li>
          <li><a class="menuLinkGenerations" href="#">génération 7</a></li>
          <li><a class="menuLinkGenerations" href="#">génération 8</a></li>
        </ul>
      
        <button class="buttonTypes" id="types"> All types</button>
        <ul class="menuTypes">
          <li><a class="menuLinkTypes" href="#">Grass</a></li>
          <li><a class="menuLinkTypes" href="#">Poison</a></li>
          <li><a class="menuLinkTypes" href="#">Fire</a></li>
          <li><a class="menuLinkTypes" href="#">Flying</a></li>
          <li><a class="menuLinkTypes" href="#">Bug</a></li>
          <li><a class="menuLinkTypes" href="#">Normal</a></li>
          <li><a class="menuLinkTypes" href="#">Ground</a></li>
          <li><a class="menuLinkTypes" href="#">Fairy</a></li>
          <li><a class="menuLinkTypes" href="#">Water</a></li>
          <li><a class="menuLinkTypes" href="#">Fighting</a></li>
          <li><a class="menuLinkTypes" href="#">Rock</a></li>
          <li><a class="menuLinkTypes" href="#">Psychic</a></li>
          <li><a class="menuLinkTypes" href="#">Electric</a></li>
          <li><a class="menuLinkTypes" href="#">Steel</a></li>
          <li><a class="menuLinkTypes" href="#">Ice</a></li>
          <li><a class="menuLinkTypes" href="#">Ghost</a></li>
          <li><a class="menuLinkTypes" href="#">Dragon</a></li>
          <li><a class="menuLinkTypes" href="#">Dark</a></li>
        </ul>
      </nav>